[flake8]
max-line-length = 100  # Adjust line length to your preference
ignore = E501, W291, E302, W293  # Disable specific checks:
# - E501: Line too long
# - W291: Trailing whitespace
# - E302: Too many blank lines (you can ignore this to remove the "two empty lines after function" warning)
# - W293: Warns if there are too many blank lines (more than one).
